/* Reset Css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Từ tổng quan đến chi tiết
*/

/* 
1. Vi tri
2. Kich thước ( width, height)
3. Mau săc
4. Kiểu dáng ( tròn, vuông, chữ nhật .....
 */
 /* Css common */
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding: 0 8px;
}
.col-full{
    width: 100%;
}
.col-half{
    width: 50%;
}
.col-third{
    width: 33.33333%;

}
.mt-8{
    margin-top: 8px;
}
.mt-16{
    margin-top: 16px;
}
.clear{
    clear: both;
}
.text-white{
    color: #fff !important;
}
.text-center{
    text-align: center !important;
}
.pull-right{
    float: right !important;
}
.btn{
    margin-top: 15px;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    border: none;
}
.btn:hover{
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}




/* Css main  */
#header{
    
    height: 46px;
    background-color: #000;
    /* thuốc tính fixed ăn theo tỉ lệ màn hình  */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* thêm thuộc tính để hiện lên trên cùng  */
    z-index: 1;
    /* overflow: hidden; */

}
#nav{
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;
}
#nav > li{
    display: inline-block;
}
#nav li{
    position: relative;
}
#nav > li >a{
    text-transform: uppercase;
}
#nav li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    /* display: inline-block; */
    display: block;
}
#nav li:hover .subnav{
    display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}
#nav .nav-arrown-down{
    font-size: 14px;
}
#nav .subnav{
    display: none;
    min-width: 160px;
    /* fix giá trị vì đôi khi trình duyệt bị thay đổi  */
    top : 100%;
    left: 0; 
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0,0,0,0.3);
}

#nav .subnav a{
    color: #000;
    display: block;
    padding:0 16px;
    line-height: 38px;
}
#header .mobile-menu-btn, #header .search-btn{
    float: right ; 
}
#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}
#header .mobile-menu-btn:hover{
    background-color: #ccc;
    cursor: pointer;  
}
#header .mobile-menu-btn:hover .mobile-icon{
    color: #000;  
}
#header .mobile-menu-btn{
    display: none;
}
#header .mobile-icon,
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    padding: 0 21px;
}

#slider{
    /* Thêm thuộc tính bằng chiều cao của header để không bị mất khi sử dụng postion fixed */
    position: relative;
    margin-top: 46px;
}
#slider .slider-img{
    width: 100%;
}
#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
    text-shadow: 0 0 1px #000;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24;
    
}
#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}
/* Content */
/* About */
#content .content-section {
    max-width: 100%;
    width: 800px;
    /* độ mạng của max-width lớn hơn width khi màn hình có kích thươc nhỏ hơn 800 */
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    padding-left: 16px;
    padding-right: 16px;
}
#content .section-heading {
    font-size:30px;
    text-align: center;
    font-weight:500 ;
    letter-spacing: 4px;

}
#content .section-sub-heading{
    font-style: italic;
    text-align: center;
    opacity: 0.7;
}
#content .section-sub-heading,
#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    line-height: 1.4;
}
#content .member-list{
    margin-top: 48px;
    /* khac phuc van de cua float */
    /* overflow: hidden; */
}
#content .member-name{
    font-size: 15px;
    
}
#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
    
}
/* Tour */
.tour-section{
    background-color: #000;
}
.tour-section .tickets-list{
    background-color: #fff;
    margin-top: 40px;
}
.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 12px 16px;
    border-bottom: 1px solid #ddd;
    list-style: none;
}
.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px; 
}
.tickets-list .quantity{
    background-color: #000;
    color: #fff;
    float: right;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    /* Dung duoc khi co float thua huong tinh chat block , con li k co tinh chat block */
    margin-top: -2px;
}
/* Places */
.places-list{
    margin-top: 16px;
    margin-bottom: 48px;
}
.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.7;
}
.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.place-heading{
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-desc{
    margin-top: 15px;
    line-height: 1.4;

}


/* Contact */
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    
}
.contact-info i[class*="ti-"] {
    width: 30px;
    line-height: 1.4;
    display: inline-block;
}
.contact-info a{
    color: #00e ;
    opacity: 0.8;
}
.contact-info a:hover{
    opacity: 1;
}
.contact-form{
    font-size: 15px;

}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}
.contact-form .form-sbm-btn{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 16px;
    float: right;

}
/*Map section  */
.map-section img{
    width: 100%;
}

/* footer */
#footer{
    padding : 64px 16px;
    text-align: center;

}
#footer .social-list {
    font-size: 24px;

}
#footer .social-list a{
    text-decoration: none;
    color: rgba(0,0,0,0.6);
}
#footer .copyright a:hover,
#footer .social-list a:hover{
    color: rgba(0,0,0,0.4);
}
#footer .copyright{
    margin-top: 15px ;
    color: rgba(0,0,0,0.6);
}
#footer .copyright a{
    
    color: rgba(0,0,0,0.6);
}

.modal{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.4);
}
.modal.open{
    display: flex;
}
.modal .modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFaceIn ease .5s;
}
.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
}
.modal-close:hover{
    color: #000;
    background-color: #f44336;
    padding: 12px;
    cursor: pointer;
}
.modal .modal-header{
    background-color: #009688;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
}
.modal .modal-header .icon-bag{
    margin-right: 16px;
}
.modal .modal-body{
    padding: 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}
.modal-body #buy-tickets{
    font-size: 15px;
    color: #fff;
    background-color:#009688 ;
    width: 100%;
    padding: 16px 0; 
    border: none;
    
}
.modal-body #buy-tickets:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
    
}
.modal-footer{
    padding: 16px;
    text-align: right;
    
}
.modal-footer a{
    color: #2196f3;
}
/* hiệu ứng chuyển động xuống  */
@keyframes modalFaceIn {
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

